<h1 class="text-center mb-4" style="font-weight: 600; color: #333;">Import Food Items</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="FoodItem" asp-action="ImportFoodItems" method="post" enctype="multipart/form-data" class="p-4 border rounded-3 shadow-sm bg-light">
                <div class="form-group mb-3">
                    <input type="file" name="file" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success w-100">Import Excel</button>
            </form>
        </div>
    </div>
</div>
